{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pinterest Clone</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>
    <h1>Boards</h1>
    <a href="{% url 'logout' %}">🚪 Logout</a>
    <br><br>
    <a href="{% url 'profile' %}">👤 My Profile</a>
    <br><br>
    <a href="{% url 'feed' %}">🧭 Explore Feed</a>
    <br><br>
    <a href="{% url 'personal_feed' %}">🏠 Home Feed (Following)</a>
    <br><br>
    <a href="{% url 'create_board' %}">➕ Create Board</a>
    <br><br>
    <div class="board-grid">
        {% for board in boards %}
        <div class="board-card">
            <a href="{% url 'board_detail' board.id %}">
                {{ board.name }}
            </a>
        </div>
        {% endfor %}
    </div>


    <script src="{% static 'core/js/main.js' %}"></script>
</body>

</html>