<div class="sidebar">
  <ul>

    <li class="active">
      <a href="{% url 'feed' %}">
        <span>🏠</span>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a href="{% url 'explore' %}">
        <span>🔍</span>
        <p>Explore</p>
      </a>
    </li>

    <li>
      <a href="{% url 'profile' %}">
        <span>👤</span>
        <p>Profile</p>
      </a>
    </li>

    <li>
      <a href="{% url 'saved_pins' %}">
        <span>📌</span>
        <p>Saved</p>
      </a>
    </li>

    <li>
      <a href="{% url 'settings' %}">
        <span>⚙</span>
        <p>Settings</p>
      </a>
    </li>

  </ul>
</div>
